.front, .back {
    width: 200px;
    height: 200px;
}
.box {
    position: relative;
    transform: rotateY(1turn);
    transform-style: preserve-3d;
}
.front {
    background-color: red;
    position: absolute;
    transform: translateZ(100px);
}
.back {
    background-color: blue;
        position: absolute;
    transform: translateZ(-150px);
              }

.back, .front {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.back::before {
    content: "Back";
    color: white;
    position: absolute;
}

.front::before {
    content: "Front";
    color: white;
    backface-visibility: visible;
}

.box {
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        transform: rotateY(0turn);
    }
    to {
        transform: rotateY(1turn);
    }
}

.front {
    animation-name: front;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
   }

@keyframes front {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.back {
    animation-name: test;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes test {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


